#C study is_needed_to,0.9 #B pass what exam B#
#C water is_needed_to,0.9 #B wash what dishes B#
#C #B hold what dish B# is_needed_to,0.9 #B wash what dishes B#
#C body is_needed_to,1.0 move
#C mind is_needed_to,1.0 think
#C mind is_needed_to,1.0 reason
